USE [QLMT]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 12/4/2021 10:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [nvarchar](30) NOT NULL,
	[MASP] [nvarchar](5) NOT NULL,
	[MAUSAC] [nvarchar](50) NOT NULL,
	[KIEU] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIAMGIA] [float] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[THANHTIEN] [float] NOT NULL,
	[THOIGIANBAOHANH] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CHITIETHOADON_1] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 12/4/2021 10:24:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [nvarchar](5) NOT NULL,
	[TENCV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANGSX]    Script Date: 12/4/2021 10:24:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGSX](
	[MAHANG] [nvarchar](5) NOT NULL,
	[TENHANG] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HANGSX] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/4/2021 10:24:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nvarchar](30) NOT NULL,
	[MANV] [nvarchar](5) NOT NULL,
	[MAKH] [nvarchar](5) NOT NULL,
	[NGAYBAN] [date] NOT NULL,
	[TONGTIEN] [float] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/4/2021 10:24:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](5) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [varchar](11) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/4/2021 10:24:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](5) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [nvarchar](11) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[NGAYSINH] [smalldatetime] NOT NULL,
	[MACV] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/4/2021 10:24:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nvarchar](5) NOT NULL,
	[TENSP] [nvarchar](50) NOT NULL,
	[MAHANG] [nvarchar](5) NOT NULL,
	[MAUSAC] [nvarchar](50) NOT NULL,
	[KIEU] [nvarchar](50) NOT NULL,
	[GIANHAP] [float] NOT NULL,
	[GIABAN] [float] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[THOIGIANBAOHANH] [nvarchar](10) NOT NULL,
	[ANH] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/4/2021 10:24:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MANV] [nvarchar](5) NOT NULL,
	[MATKHAU] [nvarchar](50) NOT NULL,
	[QUYEN] [int] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [MAUSAC], [KIEU], [SOLUONG], [GIAMGIA], [DONGIA], [THANHTIEN], [THOIGIANBAOHANH]) VALUES (N'HDB1562021_85129', N'SP002', N'Xanh', N'4GB', 3, 5, 2000000, 5700000, N'1 Năm')
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [MAUSAC], [KIEU], [SOLUONG], [GIAMGIA], [DONGIA], [THANHTIEN], [THOIGIANBAOHANH]) VALUES (N'HDB1562021_85320', N'SP003', N'Xanh', N'4GB', 1, 0, 550000, 550000, N'6 Tháng')
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [MAUSAC], [KIEU], [SOLUONG], [GIAMGIA], [DONGIA], [THANHTIEN], [THOIGIANBAOHANH]) VALUES (N'HDB1562021_85350', N'SP005', N'Đen', N'8GB', 10, 10, 1000000, 9000000, N'6 Tháng')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'NV', N'Nhân viên')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'QL', N'Quản lý')
INSERT [dbo].[HANGSX] ([MAHANG], [TENHANG]) VALUES (N'AC', N'ACER')
INSERT [dbo].[HANGSX] ([MAHANG], [TENHANG]) VALUES (N'AP', N'APPLE')
INSERT [dbo].[HANGSX] ([MAHANG], [TENHANG]) VALUES (N'AS', N'ASUS')
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [NGAYBAN], [TONGTIEN]) VALUES (N'HDB1562021_85129', N'NV002', N'KH001', CAST(N'2021-12-06' AS Date), 5700000)
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [NGAYBAN], [TONGTIEN]) VALUES (N'HDB1562021_85320', N'NV003', N'KH002', CAST(N'2021-11-06' AS Date), 550000)
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [NGAYBAN], [TONGTIEN]) VALUES (N'HDB1562021_85350', N'NV004', N'KH003', CAST(N'2021-10-06' AS Date), 9000000)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [DIENTHOAI]) VALUES (N'KH001', N'Đặng Quang Minh', N'An Giang', N'01234567899')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [DIENTHOAI]) VALUES (N'KH002', N'Trương Vĩnh Tường', N'Đồng Tháp', N'12345678900')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [DIENTHOAI]) VALUES (N'KH003', N'Nguyễn Thị Mỹ Truyền', N'Cần Thơ', N'78945612333')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [DIENTHOAI], [PHAI], [NGAYSINH], [MACV]) VALUES (N'NV001', N'DQM', N'AG', N'123', N'Nam', CAST(N'2000-03-22 00:00:00' AS SmallDateTime), N'QL')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [DIENTHOAI], [PHAI], [NGAYSINH], [MACV]) VALUES (N'NV002', N'Trương Vĩnh Tường', N'123', N'456', N'Nam', CAST(N'2021-10-03 00:00:00' AS SmallDateTime), N'NV')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [DIENTHOAI], [PHAI], [NGAYSINH], [MACV]) VALUES (N'NV003', N'Nguyễn Minh Hiếu', N'Cần Thơ', N'123', N'Nữ', CAST(N'2020-04-02 00:00:00' AS SmallDateTime), N'QL')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MAHANG], [MAUSAC], [KIEU], [GIANHAP], [GIABAN], [SOLUONG], [NGAYNHAP], [THOIGIANBAOHANH], [ANH]) VALUES (N'SP001', N'Laptop HP Pavilion', N'HP', N'Trắng', N'4GB', 500000, 800000, 61, CAST(N'2021-05-09' AS Date), N'1 Năm', N'D:\DA2\image\Laptop-cu-cau-hinh-cao-2.jpg')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MAHANG], [MAUSAC], [KIEU], [GIANHAP], [GIABAN], [SOLUONG], [NGAYNHAP], [THOIGIANBAOHANH], [ANH]) VALUES (N'SP002', N'Acer Nitro Gaming', N'AC', N'Xanh', N'4GB', 1000000, 2000000, 97, CAST(N'2021-03-05' AS Date), N'1 Năm', N'D:\DA2\image\tai_xuong.jpg')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MAHANG], [MAUSAC], [KIEU], [GIANHAP], [GIABAN], [SOLUONG], [NGAYNHAP], [THOIGIANBAOHANH], [ANH]) VALUES (N'SP003', N'Lenovo ThinkPad', N'LNV', N'Xanh', N'4GB', 250000, 550000, 149, CAST(N'2021-06-04' AS Date), N'6 Tháng', N'D:\DA2\image\lenovo-thinkpad-t490-1-1.jpg')
INSERT [dbo].[TAIKHOAN] ([MANV], [MATKHAU], [QUYEN]) VALUES (N'NV001', N'202cb962ac59075b964b07152d234b70', 0)
INSERT [dbo].[TAIKHOAN] ([MANV], [MATKHAU], [QUYEN]) VALUES (N'NV002', N'c4ca4238a0b923820dcc509a6f75849b', 1)
INSERT [dbo].[TAIKHOAN] ([MANV], [MATKHAU], [QUYEN]) VALUES (N'NV003', N'202cb962ac59075b964b07152d234b70', 0)
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_SANPHAM1] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_SANPHAM1]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_HANGSX] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANGSX] ([MAHANG])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_HANGSX]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
